/* Navbar */
.navbar{
    padding-left: 0rem!important;
    padding-right: 0rem!important;
}
.navbar-nav .nav-item .nav-link{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF!important;
}

/* Navbar */